<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Authentication"
             connectionString = "Server=localhost,1433;Database=AUTHENTICATION; User Id=SA; Password=Sqlp4ss!;Encrypt=True;TrustServerCertificate=True;Pooling=false"/>
    </connectionStrings>
</configuration>
